<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carta</title>
</head>
<body class="home__body">
    <div class="home__body__div">
        <header class="home__header">
            <div class="home__header--title">
                <h1>Nuestro Resto</h1>
                <h2>Carta</h2>
            </div>
            <nav class="home__header__nav">
                <ul>
                    <li><a href="">Entradas</a></li>
                    <li><a href="">Platos principales</a></li>
                    <li><a href="">Ensaladas</a></li>
                    <li><a href="">Raws</a></li>
                    <li><a href="">Postres</a></li>
                    <li><a href="">Desayuno y Meriendas</a></li>
                    <li><a href="">Bebidas</a></li>
                    <li><a href="">Smoothies</a></li>
                    <li><a href="">Te y cafe</a></li>
                    <li><a href="">Vinos</a></li>
                    <li><a href="">Cervezas</a></li>
                </ul>
            </nav>
        </header>
        <main class="home__main">
            <div class="home__main__products">
                <h3 id="Entradas">Entradas</h3>
                <div class="home__main__div">
                    <img class="home__main__products--box--images" src="\img\foto-entradas.jpg" alt="Entradas">
                    <div>
                        <article class="home__main__products--box">
                            <h4>Muzzarella Sticks</h4>
                            <p>Bastones de muzzarella rebozados</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Jalapeños rellenos</h4>
                            <p>Jalapeños rellenos de langostinos 
                                y queso Cheddar con panceta.</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Ración de Rabas</h4>
                            <p>220 gr. de chicharrón de calamar 
                                frito con alioli</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Ración de papas fritas con Cheddar y verdeo</h4>
                            <p>Bastones de muzzarella rebozados</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Chicken Wings</h4>
                            <p>Alitas de pollo empanada y frita con salsa BBQ</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Croquetas de hongos</h4>
                            <p>Croquetas elaboradas a base de hongos disecados.</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Langostinos en cous cous</h4>
                            <p>Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Chipirones a la plancha</h4>
                            <p>Con chutney de mango y sandía a la plancha</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Nachos con refrito</h4>
                            <p>Nachos salteados con porotos negros, chorizo colorado y salsa BBQ</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Tapa de morcilla</h4>
                            <p>Pan casero de campo, morcilla, verdeo y queso brie.</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Tapa de campo</h4>
                            <p>Morcilla, papa, chutney de manzana y crema de eneldo</p>
                        </article>
                        <article class="home__main__products--box">
                            <h4>Tapa de mollejas</h4>
                            <p>Mollejas con mango, ananá, jengibre, chiles y pochoclo.</p>
                        </article>
                    </div>
                </div>
                
                <a href="#Entradas">Volver</a>
            </div>
        </main>
    </div>
    
    <footer class="home__footer">
        <img class="home__footer--images" src="\img\logo-web.png" alt="Logo">
        <nav class="home__footer--nav">
            <ul>
                <li><a href="">Contacto</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>